
@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(249 249 249);
}
.desc{
  font-weight: 400;
  font-size: 22px;
  position: relative;
  padding-left: 5rem;
}
.desc::before{
  position: absolute;
  content: '';
  width:15%;
  height: 100%;
  top: -10px;
  left: 0;
  border-bottom: 1px solid black;
}
.desc::after{
  content: '';
}
form {
  color:#a9a7a7;
  max-width: 300px;
  margin: 0 auto;
}

fieldset {
  border: 2px solid #ccc;
  padding: 0 20px;
  background-color: white;
  border-radius: 12px;
  margin: 10px 0;
}

legend {
  text-align: start;
  padding: 0 2px 0 1px ;
}

input[type="text"] {
  background-color: white;
  width: 100%;
  padding:5px  12px;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
input[type="email"] {
  background-color: white;
  width: 100%;
  padding:5px  8px;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
textarea{
  resize: vertical;
  outline: none;
}



/* Extra Small Devices (Phones, < 576px) */
@media (max-width: 575.98px) {
  body {
      
  }
  .main{
    padding-top: 15px;
    flex-wrap: wrap;
  }
  .icons{
    order: initial;
  }
  .profile-img{
    margin-left: 30px;
    order: 1;
  }
  .profile-desc{
    padding-top: 25px;
    order: 2;
    width: 100%;
    text-align: center;
  }
  .profile-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main-head{
    margin-right: 0;
    justify-content: center;
  }
  svg{
    display: none;
  }
  .desc{
    padding-left: 0; 
  }
  .desc::before{
    display: none;
  }
  .desc::after{
    display: none;
  }
  .about-two{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-img{
    padding-top: 2px;
    width: 75%;
  }
  .about-desc{
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 12px;
  }
  .about-main{
    justify-content: center;
    align-items: center;
  }
  .btn{
    margin-top: 10px;
    margin-bottom: 20px;
    margin: auto;
  }
  .skill-card{
    flex-direction: column;
  }
  .skill-desc{
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }
  .project{
    width: 100%;
  }
  .project-items{
    flex-direction: column;
    margin: auto;
  }
  .wContent{
    width: 55%;
  }
  .connect{
    width: 90%;
    
  }
  .connect-desc{
    flex-direction: column;
  }
  
}

/* Small Devices (Tablets, 576px to 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    
  }
  .main{
    padding-top: 15px;
    flex-wrap: wrap;
  }
  .icons{
    order: initial;
  }
  .profile-img{
    order: 1;
  }
  .profile-desc{
    padding-top: 25px;
    order: 2;
    width: 100%;
    text-align: center;
  }
  .profile-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main-head{
    justify-content: center;
  }
  .btn-profile{
    background-color: aliceblue;
  }
  .about-two{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-img{
    padding-top: 2px;
    width: 75%;
  }
  .about-desc{
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 12px;
  }
  .about-main{
    justify-content: center;
    align-items: center;
  }
  .btn{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    
  }
  .skill-card{
    flex-direction: column;
  }
  .skill-desc{
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }
  .project{
    width: 100%;
    
  }
  .project-items{
    flex-direction: column;
    margin: auto;
  }
  .wContent{
    width: 55%;
  }
  .slider-container{
    width: 90%;
    
  }
  .connect{
    width: 90%;
    
  }
  .connect-desc{
    flex-direction: column;
  }
  
}

/* Medium Devices (Tablets, 768px to 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
      
  }
  .about-two{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-img{
    padding-top: 2px;
    width: 75%;
  }
  .about-desc{
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 12px;
  }
  .about-main{
    justify-content: center;
    align-items: center;
  }
  .btn{
    margin-top: 10px;
    margin-bottom: 20px;
    margin: auto;
  }
  .skill-card{
    flex-direction: column;
  }
  .skill-desc{
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }
  .project{
    width: 100%;
  }
  .connect{
    width: 100%;
  }
}

/* Large Devices (Desktops, 992px to 1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
      
  }
}

/* Extra Large Devices (Large Desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
  
  }
}